body {
	overflow-x: hidden;
}

.banner img {
	width: 100%;
	position: relative;
}

header {
	background-color: rgba(255, 255, 255, 0.5);
	width: 100%;
	position: absolute;
	top: 0px;
	z-index: 3;

}
.navbar {
	width: 100%;
	max-width: 940px;
	margin: 0 auto;
	margin-top: 30px;
}

.logo {
	float: left;
	
}

.nav-right {
	float: right;
	
}

.nav {
	float: left;
	margin-top: 3px;
}

.list-item {
	display: inline;
	padding: 10px;
	margin-right: 5px;
}

.list-item a {
	color: #454545;
	font-size: 17px;
	font-family: Myriad Pro Regular;
}

.login {
	background-image: url(../images/login.png);
	background-repeat: no-repeat;
	background-color: #c34d5f;
	background-position: 13px 7px;
	border-color: 1px solid #c34d5f;
	width: 87px;
    height: 27px;
    border-radius: 7%;
    float: right;
}

.login a {
	color: #FFF;
	font-size: 17px;
	font-family: Myriad Pro Regular;
	margin-left: 35px;
	margin-top: 7px;
}

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 940px;

}

.welcome {
	color: #FFF;
	position: absolute;
	text-align: center;

}

.welcome h1 {
	font-size: 35px;
	font-family: Myriad Pro Regular;
}

.welcome p {
	font-size: 25px;
}

.text {
	color: #000;
	text-align: center;
	line-height: 2;
}

.text h2 {
	font-size: 25px;
}

.text p {
	font-size: 17px;
}

.icons {
	width: 940px;
	padding-bottom: 60px;
}

.icon {
	display: inline-block;
	border-radius: 50%;
	width:180px;
	height: 180px;
	margin-top: 80px;
	text-align: center;
	line-height: 150px;
	padding: 35px;
}

.icon a {
   text-align: center;	
   color: #FFF;
   display: inline-block;
   line-height: 20px;
}

.icons .icon-tickets {
	background-color: #4eb9f4;
}

.icon-tickets a {
	background-image: url(../images/ticket.png);
}

.icons .icon-camera {
	background-color: #6fc125;
}

.icons .icon-camera a {
	background-image: url(../images/camera.png);
}

.icons .icon-beers  {
	background-color: #ff5649;
}

.icons .icon-beers a {
	background-image: url(../images/beer.png);
}

.icons .icon-devices  {
	background-color: #e48f23;
}

.icons .icon-devices a {
	background-image: url(../images/devices.png);
}

.icons a{
	background-position: center top;
    background-repeat: no-repeat;
    min-width: 80px;
    padding-top: 86px;
    box-sizing: border-box;
}

.section-icon {
	border-bottom: 1px solid grey;
}

footer {
	background-color: #000;
}

footer h3  {
    color: #FFF;
    font-size: 21px;

}

footer ul li a {
	color: grey;
	font-size: 15px;	
}